<!-- Approach -->
<div class="">
    <!-- Approach -->
    <div class="max-w-5xl px-4 xl:px-0 py-10 lg:pt-20 lg:pb-20 mx-auto">
      <!-- Title -->
      <div class="max-w-3xl mb-10 lg:mb-14">
        <h2 class="text-dark dark:text-light font-semibold text-2xl md:text-4xl md:leading-tight">About Baila Conmigo</h2>
        <p class="mt-1 text-neutral-400">
          
          Their love for dance, but also professional approach in work resulted in an expansion of bachata
sensual and creation of many passionate bachata dancers in this area. One can say that during this
short period of time, Jerko and Maja with their sensual style become icons of Bachata sensual in
Dalmatia.
        </p>
      </div>
      <!-- End Title -->
  
      <!-- Grid -->
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-10 lg:gap-16 lg:items-center">
        <div class="aspect-w-16 aspect-h-9 lg:aspect-none">
          <img class="w-full object-cover rounded-xl" src="https://images.unsplash.com/photo-1587614203976-365c74645e83?q=80&w=480&h=600&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Image Description">
        </div>
        <!-- End Col -->
  
        <!-- Timeline -->
        <div>
          <!-- Heading -->
          <div class="mb-4">
            <h3 class="text-brand text-xs font-medium uppercase">
              Our Story
            </h3>
          </div>
          <!-- End Heading -->
  
          <!-- Item -->
          <div class="flex gap-x-5 ms-1">
            <!-- Icon -->
            <div class="relative last:after:hidden after:absolute after:top-8 after:bottom-0 after:start-4 after:w-px after:-translate-x-[0.5px] after:bg-neutral-800">
              <div class="relative z-10 size-8 flex justify-center items-center">
                <span class="flex flex-shrink-0 justify-center items-center size-8 border border-neutral-800 text-brand font-semibold text-xs uppercase rounded-full">
                  2011
                </span>
              </div>
            </div>
            <!-- End Icon -->
  
            <!-- Right Content -->
            <div class="grow pt-0.5 pb-8 sm:pb-12">
              <p class="text-sm lg:text-base text-neutral-400">
                <span class="text-dark dark:text-light">We met on party in January 2011,</span>
                Jerko had just started dancing, and Maja was looking for a new partner after hers moved to Zadar. One dance together was all it took for them to decide to team up.Jerko and Maja began their bachata career in 2012, opening the 1st Dalmatia Summer Festival with a bachata show.
              </p>
            </div>
            <!-- End Right Content -->
          </div>
          <!-- End Item -->
  
          <!-- Item -->
          <div class="flex gap-x-5 ms-1">
            <!-- Icon -->
            <div class="relative last:after:hidden after:absolute after:top-8 after:bottom-0 after:start-4 after:w-px after:-translate-x-[0.5px] after:bg-neutral-800">
              <div class="relative z-10 size-8 flex justify-center items-center">
                <span class="flex flex-shrink-0 justify-center items-center size-8 border border-neutral-800 text-brand font-semibold text-xs uppercase rounded-full">
                  2013
                </span>
              </div>
            </div>
            <!-- End Icon -->
  
            <!-- Right Content -->
            <div class="grow pt-0.5 pb-8 sm:pb-12">
              <p class="text-sm lg:text-base text-neutral-400">
                <span class="text-dark dark:text-light">Since 2013, we've taught workshops at various dance schools and festivals across Croatia and the region</span>
                In 2018, we joined the Random Roots project with Korke and Judith as Team Split. We're involved with the University of Split to promote dance among students and continually improve our skills at festivals across Europe.  
              </p>
            </div>
            <!-- End Right Content -->
          </div>
          <!-- End Item -->
  
          <!-- Item -->
          <div class="flex gap-x-5 ms-1">
            <!-- Icon -->
            <div class="relative last:after:hidden after:absolute after:top-8 after:bottom-0 after:start-4 after:w-px after:-translate-x-[0.5px] after:bg-neutral-800">
              <div class="relative z-10 size-8 flex justify-center items-center">
                <span class="flex flex-shrink-0 justify-center items-center size-8 border border-neutral-800 text-brand font-semibold text-xs uppercase rounded-full">
                  2016
                </span>
              </div>
            </div>
            <!-- End Icon -->
  
            <!-- Right Content -->
            <div class="grow pt-0.5 pb-8 sm:pb-12">
              <p class="text-sm md:text-base text-neutral-400">
                <span class="text-dark dark:text-light">We began teaching at Salsa Studio Split until 2016</span>
                when we opened our own school, Baila Conmigo. We also taught in Šibenik from 2013 to 2015 and have since conducted workshops in Šibenik and Zadar, mentoring Dance Studio Tonći i Ivana in Zadar.
              </p>
            </div>
            <!-- End Right Content -->
          </div>
          <!-- End Item -->
  
          <!-- Item -->
          <div class="flex gap-x-5 ms-1">
            <!-- Icon -->
            <div class="relative last:after:hidden after:absolute after:top-8 after:bottom-0 after:start-4 after:w-px after:-translate-x-[0.5px] after:bg-neutral-800">
              <div class="relative z-10 size-8 flex justify-center items-center">
                <span class="flex flex-shrink-0 justify-center items-center size-8 border border-neutral-800 text-brand font-semibold text-xs uppercase rounded-full">
                  2022
                </span>
              </div>
            </div>
            <!-- End Icon -->
  
            <!-- Right Content -->
            <div class="grow pt-0.5 pb-8 sm:pb-12">
              <p class="text-sm md:text-base text-neutral-400">
                <span class="text-dark dark:text-light">In spring of 2022.</span>
                Jerko went to New York, where he was learning from Adolfo and perform in New York. With Nera he is representative of Empire Mambo LSD brand in Europe.
              </p>
            </div>
            <!-- End Right Content -->
          </div>
          <!-- End Item -->
  
          <a class="group inline-flex items-center gap-x-2 py-2 px-3 bg-brand font-medium text-sm text-neutral-800 rounded-full focus:outline-none" href="#">
            <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path><path class="opacity-0 group-hover:opacity-100 group-focus:opacity-100 group-hover:delay-100 transition" d="M14.05 2a9 9 0 0 1 8 7.94"></path><path class="opacity-0 group-hover:opacity-100 group-focus:opacity-100 transition" d="M14.05 6A5 5 0 0 1 18 10"></path></svg>
            Contact us
          </a>
        </div>
        <!-- End Timeline -->
      </div>
      <!-- End Grid -->
    </div>
  </div>
  <!-- End Approach -->









