<!-- Pricing -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Title -->
    <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
      <h2 class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white">Pricing</h2>
      <p class="mt-1 text-gray-600 dark:text-neutral-400">Whatever your status, our offers evolve according to your needs.</p>
    </div>
    <!-- End Title -->
  
    <!-- Grid -->
    <div class="mt-12 grid sm:grid-cols-2 lg:grid-cols-4 gap-6 lg:items-center">
      <!-- Card -->
      <div class="flex flex-col border border-gray-200 text-center rounded-xl p-8 dark:border-neutral-800">
        <h4 class="font-medium text-lg text-gray-800 dark:text-neutral-200">1st class</h4>
        <span class="mt-7 font-bold text-5xl text-gray-800 dark:text-neutral-200">Free</span>
        <p class="mt-2 text-sm text-gray-500 dark:text-neutral-500">try it out</p>
  
        <ul class="mt-7 space-y-2.5 text-sm">
          <li class="flex space-x-2">
            <svg class="flex-shrink-0 mt-0.5 size-4 text-[#FFD700] dark:text-[#FFD700]" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            <span class="text-gray-800 dark:text-neutral-400">
              1 hour
            </span>
          </li>
  
          <li class="flex space-x-2">
            <svg class="flex-shrink-0 mt-0.5 size-4 text-[#FFD700] dark:text-[#FFD700]" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            <span class="text-gray-800 dark:text-neutral-400">
              Choose your style
            </span>
          </li>
  
          <li class="flex space-x-2">
            <svg class="flex-shrink-0 mt-0.5 size-4 text-[#FFD700] dark:text-[#FFD700]" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            <span class="text-gray-800 dark:text-neutral-400">
              Product support
            </span>
          </li>
        </ul>
  
        <a class="mt-5 py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:border-[#FFD700] hover:text-[#FFD700] disabled:opacity-50 disabled:pointer-events-none dark:border-neutral-700 dark:text-neutral-400 dark:hover:text-[#FFD700] dark:hover:border-[#FFD700]" href="#">
          Sign up
        </a>
      </div>
      <!-- End Card -->
  
      <!-- Card -->
      <div class="flex flex-col border-2 border-[#FFD700] text-center shadow-xl rounded-xl p-8 dark:border-[#FFD700]">
        <p class="mb-3"><span class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-lg text-xs uppercase font-semibold bg-[#FFD700] text-black dark:bg-[#FFD700] dark:text-black">Most popular</span></p>
        <h4 class="font-medium text-lg text-gray-800 dark:text-neutral-200">Beginner</h4>
        <span class="mt-5 font-bold text-5xl text-gray-800 dark:text-neutral-200">
          <span class="font-bold text-2xl -me-2">&#8364;</span>
          40
        </span>
        <p class="mt-2 text-sm text-gray-500 dark:text-neutral-500">Salsa i Bachata</p>
  
        <ul class="mt-7 space-y-2.5 text-sm">
          <li class="flex space-x-2">
            <svg class="flex-shrink-0 mt-0.5 size-4 text-[#FFD700] dark:text-[#FFD700]" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            <span class="text-gray-800 dark:text-neutral-400">
              1 hour / class
            </span>
          </li>
  
          <li class="flex space-x-2">
            <svg class="flex-shrink-0 mt-0.5 size-4 text-[#FFD700] dark:text-[#FFD700]" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            <span class="text-gray-800 dark:text-neutral-400">
              2x week
            </span>
          </li>
  
          <li class="flex space-x-2">
            <svg class="flex-shrink-0 mt-0.5 size-4 text-[#FFD700] dark:text-[#FFD700]" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            <span class="text-gray-800 dark:text-neutral-400">
              8 hours/month
            </span>
          </li>
        </ul>
  
        <a class="mt-5 py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-[#FFD700] text-black hover:bg-yellow-400 disabled:opacity-50 disabled:pointer-events-none" href="#">
          Sign up
        </a>
      </div>
      <!-- End Card -->
  
      <!-- Card -->
      <div class="flex flex-col border-2 border-gray-100 text-center rounded-xl p-8 dark:border-neutral-800">
        <h4 class="font-medium text-lg text-gray-800 dark:text-neutral-200">Kizomba</h4>
        <span class="mt-5 font-bold text-5xl text-gray-800 dark:text-neutral-200">
          <span class="font-bold text-2xl -me-2">&#8364;</span>
          35
        </span>
        <p class="mt-2 text-sm text-gray-500 dark:text-neutral-400">Kizomba phylosophie</p>
  
        <ul class="mt-7 space-y-2.5 text-sm">
          <li class="flex space-x-2">
            <svg class="flex-shrink-0 mt-0.5 size-4 text-[#FFD700] dark:text-[#FFD700]" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            <span class="text-gray-800 dark:text-neutral-400">
              1 hour/week
            </span>
          </li>
  
          <li class="flex space-x-2">
            <svg class="flex-shrink-0 mt-0.5 size-4 text-[#FFD700] dark:text-[#FFD700]" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            <span class="text-gray-800 dark:text-neutral-400">
              1x week
            </span>
          </li>
  
          <li class="flex space-x-2">
            <svg class="flex-shrink-0 mt-0.5 size-4 text-[#FFD700] dark:text-[#FFD700]" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            <span class="text-gray-800 dark:text-neutral-400">
              4 hours/month
            </span>
          </li>
        </ul>
  
        <a class="mt-5 py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:border-[#FFD700] hover:text-[#FFD700] disabled:opacity-50 disabled:pointer-events-none dark:border-neutral-700 dark:text-neutral-400 dark:hover:text-[#FFD700] dark:hover:border-[#FFD700]" href="#">
          Sign up
        </a>
      </div>
      <!-- End Card -->
  
      <!-- Card -->
      <div class="flex flex-col border border-gray-200 text-center rounded-xl p-8 dark:border-neutral-800">
        <h4 class="font-medium text-lg text-gray-800 dark:text-neutral-200">Dancefit</h4>
        <span class="mt-5 font-bold text-5xl text-gray-800 dark:text-neutral-200">
          <span class="font-bold text-2xl -me-2">&#8364;</span>
          35
        </span>
        <p class="mt-2 text-sm text-gray-400 dark:text-neutral-400">Become a master</p>
  
        <ul class="mt-7 space-y-2.5 text-sm">
          <li class="flex space-x-2">
            <svg class="flex-shrink-0 mt-0.5 size-4 text-[#FFD700] dark:text-[#FFD700]" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            <span class="text-gray-800 dark:text-neutral-400">
              1 hour/week
            </span>
          </li>
  
          <li class="flex space-x-2">
            <svg class="flex-shrink-0 mt-0.5 size-4 text-[#FFD700] dark:text-[#FFD700]" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            <span class="text-gray-800 dark:text-neutral-400">
              1x week
            </span>
          </li>
  
          <li class="flex space-x-2">
            <svg class="flex-shrink-0 mt-0.5 size-4 text-[#FFD700] dark:text-[#FFD700]" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            <span class="text-gray-800 dark:text-neutral-400">
              4 hours/month
            </span>
          </li>
        </ul>
  
        <a class="mt-5 py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:border-[#FFD700] hover:text-[#FFD700] disabled:opacity-50 disabled:pointer-events-none dark:border-neutral-700 dark:text-neutral-400 dark:hover:text-[#FFD700] dark:hover:border-[#FFD700]" href="#">
          Sign up
        </a>
      </div>
      <!-- End Card -->
    </div>
    <!-- End Grid -->

  </div>
  <!-- End Pricing -->